version: '3.1'

services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - myStrapiNetwork

  app:
    build: .
    networks:
      - myStrapiNetwork
    depends_on:
      - db

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - myStrapiNetwork

volumes:
  postgres_data:

networks:
  myStrapiNetwork:
    driver: bridge
